.App {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* ResumeApp.css or another CSS file */

.nav-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #0056b3;
}
